---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

const posts = await getCollection("blog");
---

<MainLayout title="Blog">
    <ul>
        {posts.map((post) => {
            const [year, month] = post.data.date.split('-');
            const link = `blog/${year}/${month}/${post.slug}`;
            return (
                    <li key={post.id}>
                        <a href={link}>{post.data.title}</a>
                    </li>
            );
        })}
    </ul>
</MainLayout>
