---
import {slug} from "../utils/blogPosts";
const { prevBlogPost, nextBlogPost } = Astro.props;
---

<div id="blog-prev-next">
    {
        prevBlogPost ? (
            <a id="blog-prev" class="blog-div" href=`blog/${slug(prevBlogPost)}` title={prevBlogPost.data.title}
               style={{ backgroundImage: `url(${prevBlogPost.data.hero_image.src})` }}>
                <span>← Previous Blog Post</span>
            </a>
        ) : (<div class="blog-div"/>)
    }
    <a id="blog-all" class="blog-link" href="/blog">All Blog Posts</a>
    {
        nextBlogPost ? (
            <a id="blog-next" class="blog-div" href=`blog/${slug(nextBlogPost)}` title={nextBlogPost.data.title}
               style={{ backgroundImage: `url(${nextBlogPost.data.hero_image.src})` }}>
                <span>Next Blog Post →</span>
            </a>
        ) : (<div class="blog-div"/>)
    }
</div>

<style lang="scss">
  @import '../styles/variables.scss';

  #blog-prev-next {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #blog-prev-next a {
    text-decoration: none;
  }

  a.blog-link, a.blog-div {
    text-align: center;
    font-weight: bold;
  }

  .blog-div {
    height: 100px;
    width: 240px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blog-link-text-color;
    font-size: 1.25em;
  }

  .blog-div span {
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .blog-div span:hover {
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 1);
  }

  #blog-all {
    color: initial;
    font-size: 1.1em;
  }

  @media (max-width: 768px) {
    #blog-prev-next {
      flex-direction: column;
      align-items: center;
      margin-top: 1em;
    }

    #blog-prev {
      margin-bottom: 0.5em;
    }

    #blog-all {
      display: none;
    }
  }
</style>